DATABASE_URL=
PORT=3001

# Banco Inter
INTER_CLIENT_ID=
INTER_CLIENT_SECRET=
INTER_CERT_PATH=./certs/inter.crt
INTER_KEY_PATH=./certs/inter.key
INTER_CONTA_CORRENTE=
INTER_CHAVE_PIX=
INTER_WEBHOOK_SECRET=
INTER_ENV=mock

# Zighu Pay
ZIGHU_API_KEY=
