DATABASE_URL=
PORT=3001

# Banco Inter
INTER_CLIENT_ID=
INTER_CLIENT_SECRET=
INTER_CERT_PATH=./certs/inter.crt
INTER_KEY_PATH=./certs/inter.key
INTER_CONTA_CORRENTE=
INTER_WEBHOOK_SECRET=
INTER_ENV=sandbox
# sandbox | producao | mock
# Para testes locais sem banco Inter
# INTER_ENV=mock
INTER_CHAVE_PIX=

# Apps clientes
MOBIHUB_API_KEY=
MOBIHUB_CALLBACK_URL=https://mobihub-s9yl.onrender.com/api/pay/callback
